<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="starter">
    <ion-pane ng-controller="tarefasCtrl">
        <ion-header-bar class="bar-positive">
            <h1 class="title"><i class="icon ion-checkmark-circled"></i> Minha lista de pesquisa</h1>
        </ion-header-bar>
        <ion-content>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Nova tarefa..." ng-model="novaTarefa.titulo">
                </label>
                <button class="button button-small button-positive" ng-click="criarTarefa(novaTarefa)">
                    Criar!
                </button>
            </div>
            <ion-list>
                <ion-item ng-repeat="tarefa in tarefas | orderBy : 'pronta' : reverse" ng-click="completarTarefa(tarefa)" ng-class="{'tarefa-completa': tarefa.pronta}" ng-show="mostrarConcluidas || !tarefa.pronta">
                    {{tarefa.titulo}}
                </ion-item>
            </ion-list>
        </ion-content>
        <ion-footer-bar align-title="center" class="bar-positive" ng-click="mostrarTarefasConcluidas()">
            <h1 class="title" ng-if="!mostrarConcluidas">Mostrar tarefas concluídas</h1>
            <h1 class="title" ng-if="mostrarConcluidas">Esconder tarefas concluídas</h1>
        </ion-footer-bar>
    </ion-pane>
</body>

</html>
